/* Services Section Styles */
.services {
    margin-top: 200px;
    padding: 80px 0;
    background-color: #fff;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    margin-top: 200px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.service-card {
    padding: 40px 30px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s ease;
}



.icon {
    font-size: 48px;
    color: #555;
    margin-bottom: 25px;
}

.service-title {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
}

.service-description {
    color: #777;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.service-divider {
    width: 50px;
    height: 3px;
    background-color: #5a47ff;
    margin: 0 auto;
}

.service-card:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: rgba(84, 84, 250, 0.901);
    color: white;
}